.settings{
    display: flex;
}

.settingswrapper{
    flex:9;
}
.settingstitle{
    display: flex;
    align-items: center;
}
.settingsupdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color:#63c6b3;
}
.settingsdeletetitle{
    color:red;
    font-size:12px;
    cursor:pointer;
    margin-left:240px;
}
.settingsform{
    display: flex;
    flex-direction:column;
}
.settingsdp{
    display:flex;
    align-items: center;
    margin: 10px 0px ;
}
.settingsdp > img{
    width:70px;
    height:70px;
    border-radius: 20px;
    object-fit:cover;
}
.settingsdpicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #63c6b3;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    cursor: pointer;
}
.settingsform>label{
    font-size: 20px;
    margin-top: 20px;
}
.settingsform>input{
    color:grey;
    margin:10px;
    height: 30px;
    border:none;
    border-bottom: 1px solid lightgray;
}
.settingssubmit{
   width: 150px;
   align-self: center;
   border: none;
   border-radius: 10px;
   color:white;
   background-color:#63c6b3;
   padding:10px;
   margin-top: 20px;
   cursor:pointer;
}